{% extends 'base.html' %}
{% block title %}Şifre Sıfırlama{% endblock %}

{% block content %}
<div class="container">
    <h2>Şifre Sıfırlama</h2>

    {% if messages %}
      {% for msg in messages %}
        <div class="flash {{ msg.tags }}">{{ msg }}</div>
      {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Kullanıcı Adı:</label>
        <input type="text" name="username">

        <label>Yeni Şifre:</label>
        <input type="password" name="new_password">

        <input type="submit" value="Şifreyi Güncelle">
    </form>

    <div class="form-links">
        <a href="{% url 'login' %}">Giriş sayfasına dön</a>
    </div>
</div>
{% endblock %}
